.App {
  background-image: url('./background2.jpg');
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  text-align: center;
  
}

.App-header {
  
  margin-top: 4%;
  margin-bottom: 4%;
  min-height: 100vh;
  display: flex;
  justify-content:start;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  flex-wrap: wrap;
}


.nav {
  background-color: #173545;
  opacity: .8;
}

#navText {
  color:rgb(151, 162, 168);
}

#basic-nav-dropdown {
  color:rgb(151, 162, 168);
}

#footer {
  background-color: #173343;
}

.movieTitle{
  color: #173343;
  line-height: normal

}

#smallText{
  display:flex;
  justify-content:space-between;
}
.movieText{
  color: #2b2c2c;
  font-size: 14px !important;

}

.movieCard{
  background-color: #ffffffaf !important;
}

.movieList {
  display:flex;
  justify-content: space-around;
}

#cardSpacing {
  display:flex;
  justify-content: space-around;
}

#genreBadges {
  display: flex;
  justify-content:space-between;
}

.reviewList {
  height: 25%;
  overflow-y: scroll;
}

#renderedReviews {
  overflow:scroll;
  height:200px;
  text-align: left;
}
